
body{
	/*background-color: #FF9882;*/
	margin-left: 5%;
	margin-right: 5%;
}

div{
	background-color: white;
	border-style: rounded;
}

#card{
	margin-top: 5%;
	padding: 0;
}

nav{
	margin-top: 5%;
	padding: 0;
}